extends layout

block content
  div(id="main")
    div(id="campaign")
      div
        //h3(class='col-header') Campaign
    div(id="campaignDailyBudget")
      div
        //h3(class='col-header') Campaign Daily Budget
    div(id="adGroup")
      div
        //h3(class='col-header') AdGroup
    div(id="keyWord")
      div
        //h3(class='col-header') KeyWord
    div(id="headline1")
      div
        //h3(class='col-header') headline 1
    div(id="headline2")
      div
        //h3(class='col-header') headline 2
    div(id="headline3")
      div
        //h3(class='col-header') headline 3
    div(id="description1")
      div
        //h3(class='col-header') description 1
    div(id="description2")
      div
        //h3(class='col-header') description1
    div(id="finalURL")
      div
        //h3(class='col-header') Final URL
    div(id="path1")
      div
        //h3(class='col-header') Path 1
    div(id="path2")
      div
        //h3(class='col-header') Path 2
    div(id="maxCpc")
      div
        //h3(class='col-header') MaxCpc
    div(id="finalMobileURL")
      div
        //h3(class='col-header') Final Mobile URL
  div(id="top-header")
      div(id="row1" class="displ-flex-row")
          p(class='row-head') A
          p(class='row-head') Campaign
      div(id="row2" class="displ-flex-row")
          p(class='row-head') B
          p(class='row-head') Campaign Daily Budget
      div(id="row3" class="displ-flex-row")
          p(class='row-head') C
          p(class='row-head') AdGroup
      div(id="row4" class="displ-flex-row")
          p(class='row-head') D
          p(class='row-head') KeyWord
      div(id="row5" class="displ-flex-row")
          p(class='row-head') E
          p(class='row-head') Headline 1
      div(id="row6" class="displ-flex-row")
          p(class='row-head') F
          p(class='row-head') Headline 2
      div(id="row7" class="displ-flex-row")
          p(class='row-head') G
          p(class='row-head') Headline 3
      div(id="row8" class="displ-flex-row")
          p(class='row-head') H
          p(class='row-head') Description 1
      div(id="row9" class="displ-flex-row")
          p(class='row-head') I
          p(class='row-head') Description2
      div(id="row10" class="displ-flex-row")
          p(class='row-head') J
          p(class='row-head') Final URL
      div(id="row11" class="displ-flex-row")
          p(class='row-head') K
          p(class='row-head') Path 1
      div(id="row12" class="displ-flex-row")
          p(class='row-head') L
          p(class='row-head') Path 2
      div(id="row13" class="displ-flex-row")
          p(class='row-head') M
          p(class='row-head') MaxCpc
      div(id="row14" class="displ-flex-row")
          p(class='row-head') N
          p(class='row-head') Final Mobile URL


  div(id="for-numbers-of-cols")
  div(class="block-with-actions")
        img(id='btn-create-document' src='/images/download.png')
