body {
  padding: 93px 50px 50px 100px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #dedede;
}

a {
  color: #00B7FF;
}

#main {
  display: flex;
  width: 5200px;
}

#main>div{
  width: 404px;
  display: inline-block;
  flex-direction: column;
}

.col-header {
  background: white;
  color: black;
  padding: 15px;
  text-align: center;
  border: gray 1px solid;
}

.row-head {
    text-align: center;
    width: 404px;
    background: none;
    border: 1px solid #dedede;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
}

.addInput {
  cursor: pointer;
  background: darkgreen;
  color: white;
  padding: 0 196px;
  font-size: 20px;
}

.input-cell {
    margin: 0;
    cursor: text;
    background: white;
    border: 1px solid #dedede;
    box-sizing: border-box;
    padding: 5px 5px;
    height: 25px;
    font-size: small;
}

.input-cell::before {
    content: attr(data-content);
    position: absolute;
    color: #92ada5;
    background: white;
    z-index: 100;
    margin-left: 365px;
    padding-left: 5px;
}

[contenteditable="true"].input-cell {
  white-space: nowrap;
  width: 402px;
  overflow: hidden;
}
[contenteditable="true"].input-cell br {
  display: none;
}
[contenteditable="true"].input-cell * {
  display:inline;
  white-space:nowrap;
}

.block-with-input-and-btn {
  width: 404px;
  display: flex;
  justify-content: space-between;
}

#btn-create-document {
    width: 15px;
    height: 20px;
    cursor: pointer;
    z-index: 105;
}

#top-header {
    height: 50px;
    background: #f7f9f9;
    position: fixed;
    top: 0;
    z-index: 101;
    left: 0;
    padding-left: 108px;
    display: flex;
    width: 5000px;
}

#for-numbers-of-cols {
    padding-top: 101px;
    height: 1000px;
    background: #f1f1f1;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 101;
    width: 70px;
}

.for-col-of-cel {
    margin: 0;
    background: #f7f9f9;
    border: 1px solid #dedede;
    box-sizing: border-box;
    padding: 5px 5px;
    height: 25px;
    text-align: center;
}

.focused-col {
    background: #92ada5;
}

.focused-row {
    background: #92ada5;
}

.focused-section {

}

.displ-flex-row {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.block-with-actions {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 104;
    height: 51px;
    border: 1px solid #dedede;
    width: 70px;
    background: #f7f9f9;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
#clear-localStorage {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 105;
}
#save-btn {
    width: 20px;
    height: 20px;
    cursor: pointer;
    z-index: 105;
}

#headline1 {
    width: 274px !important;
}
#row5 {
    width: 274px;
}
#row5>p {
    width: 274px;
}
#headline2 {
    width: 274px !important;
}
#row6 {
    width: 274px;
}
#row6>p {
    width: 274px;
}
#headline3 {
    width: 274px !important;
}
#row7 {
    width: 274px;
}
#row7>p {
    width: 274px;
}

.row5, .row6, .row7 {
    width: 274px;
}

.row5::before, .row6::before, .row7::before {
    content: attr(data-content);
    position: absolute;
    color: #92ada5;
    background: white;
    z-index: 100;
    margin-left: 242px;
    padding-left: 5px;
}

#row8{
   width: 736px;
}

#row8>p{
   width: 736px;
}

#description1 {
    width: 736px !important;
}

.row8{
    width: 736px  !important;
}

.row8::before {
    content: attr(data-content);
    position: absolute;
    color: #92ada5;
    background: white;
    z-index: 100;
    margin-left: 702px;
    padding-left: 5px;
}



#row11, #row12,#row13 {
   width: 190px;
}

#row11>p, #row12>p, #row13>p {
   width: 190px;
}

#path1, #path2, #maxCpc {
    width: 190px !important;
}

.row11, .row12, .row13{
    width: 190px  !important;
}

.row11::before, .row12::before, .row13::before {
    content: attr(data-content);
    position: absolute;
    color: #92ada5;
    background: white;
    z-index: 100;
    margin-left: 160px;
    padding-left: 5px;
}

.cell-without-text {
    font-size: 0;
}

#div-range-to-copy {
    display: none;
    background: none;
    position: absolute;
    border: 1px solid #c60000;
    width: 10px;
    height: 10px;
    z-index: 9999;
}

#all-cols-checkbox-block {
    position: absolute;
    top: 51px;
    left: 0;
    height: 50px;
    width: 70px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f7f9f9;
}

.cols-checkbox{
    cursor: pointer;
}

.row-checkbox{
    cursor: pointer;
}

#all-cols {
    cursor: pointer;
}

#all-rows {
    cursor: pointer;
}

#all-rows-checkbox-block {
    position: absolute;
    top: 0;
    left: 70px;
    height: 51px;
    width: 38px;
    box-sizing: border-box;
    border: 1px solid #dedede;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.more-actions-btn {
    width: 8px;
    height: 14px;
    cursor: pointer;
}

#col-menu-with-actions {
    left: -9999px;
    top: 0;
    z-index: 999999;
    display: flex;
    flex-direction: column;
    min-width: 230px;
    min-height: 170px;
    background: #29302e;
    position: absolute;
    border-radius: 3px;
    justify-content: center;
    border: 1px solid #29302e;
}

.actions-for-col-menu {
    color: #ffffff;
    width: 230px;
    padding: 10px 20px;
    cursor: pointer;
}
.actions-for-col-menu:hover{
    background: #ffffff;
    color: #29302e;
}
.more-actions-btn-focused {
    background: #7ed6bc;
    border-radius: 10px;
}

